body {
    background: linear-gradient(80deg, #F9B1F8 20%, #66BACE 80%);
    background-attachment: fixed;
    font-family: monospace;
  }

h1{
    color: black;
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 80px;
    text-align: center;
    display: block;
    font-family: "Oswald", sans-serif;
}

#question{
    font-size: 40px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

button{
    margin-top: 2%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 18px;
    background-color: #333fec;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
}

#next{
    right: 25%;
    position: absolute;
}

#previous{
    left: 25%;
    position: absolute;
}

#previous1{
    margin-top: 1%;
    left: 40%;
    position: absolute;
}
#random{
    margin-top: 1%;
    left: 50%;
    right: 30%;
    position: absolute;
}
#return{
    margin-top: 1%;
    right: 15%;
    position: absolute;
}


.add1{
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
.add2{
    margin-top: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
#movie{
    width: 40%;
    height: 30%;
}
#checkboxes{
    font-size: 30px;
    margin-left: 40%;
    text-align: left;
    font-family: "Oswald", sans-serif;
}
#subquestion{
    font-size: 30px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
#subcheckboxes{
    font-size: 30px;
    margin-left: 550px;
    text-align: left;
    font-family: "Oswald", sans-serif;
}
input[type=checkbox] {
    transform: scale(1.5);
}
input[type=radio] {
    vertical-align: middle;
    margin-right: 1%;
    transform: scale(1.5);
}
#suggestion{
    font-size: 40px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color:darkviolet;
}
#suggestionText{
    font-size: 30px;
    text-align: left;
    margin-left: 500px;
    margin-right: 100px;
    margin-top: -475px;
    font-family: "Oswald", sans-serif;
    color:darkviolet;
}

#suggestion1{ 
    position: block;
    margin-top: 75px;
    margin-right: 750px;
    margin-left: 100px;
}


